<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../static/access/css/cart.css">
<title>Shopping cart</title>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/access/css/base.css">
    <link rel="stylesheet" href="../static/access/css/main.css">
    <link rel="stylesheet" href="../static/access/font/fontawesome-free-6.4.0-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/form_dk.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/show.js"></script>
</head>


<div class="card">
    <div class="row">
        <div class="col-md-12 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Shopping Cart</b></h4></div>
                    <div class="col align-self-center text-right text-muted">
                        <span class="title-total-item" th:text="${total}"></span>
                        items
                    </div>
                </div>
            </div>
            <div  class="my-list">
                <div th:each="item : ${list}"  class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" th:src="'../../static/access/img/' + ${item.img} + '.jpg'"></div>
                        <div class="col">
                            <div th:text="${item.price} + '.000đ' " class="row text-muted"></div>
                            <div th:text="${item.name}" class="row my-col-text"></div>
                        </div>
                        <div class="col">
                            <span class="my-icon-change-quantity"  th:onclick="'addToMyWrap('+ ${item.idsp} +',-1)'" href="#">-</span>
                            <span href="#" th:class="'border my-quantity-' + ${item.idsp}" th:text="${item.getQuantity()}"></span>
                            <span class="my-icon-change-quantity" th:onclick="'addToMyWrap('+ ${item.idsp} +',1)'" href="#">+</span>
                        </div>
                        <div th:class="'col my-total-price-' + ${item.idsp}"  th:text="${item.total + '.000đ'}" ></div>
                        <div class="col">
                            <a th:onclick="'deleteById(' + ${item.idsp} + ',1)'" style="color: red;" class="btn-detele-category">X</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="row main align-items-center" >
            <span class="total-price-title col-6">Total:</span>
            <span th:text="${mytotal} + '.000đ'" class="total-price-number col-2">100.000đ</span>
    </div>
    <div class="row main align-items-center">
        <div class="contain-return-or-next">
            <div class="back-to-shop">
                <a th:href="${url}">&leftarrow;
                    <span class="text-muted">Back to shop</span>
                </a>
            </div>
            <form class="form-checkin">
                <button class="btn-primary my-btn-submit" type="submit" >Check In</button>
            </form>
        </div>
    </div>


</div>